html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 18px;
  line-height: 24px;
  background-color: #344152; /*oxford blue*/
  color: black;
  background:url('background.jpg') /*is this the most efficient way?*/;
}
h1{ /*figure out how to format text background*/
  font-size: 36px;
  line-height: 42px;
  margin-top: 6px;
}
p {
  color: black;
  margin-top: 6px;
}